h1{
	font-size:100px;
	color:#ffc125;
	font-family: 'Bree Serif', serif;
	text-align: center;
	float:right,center;

}
h2{
	font-size:100px;
	color:#ffc125;
	font-family: 'Bree Serif', serif;
	text-align: center;
}
body{
	background-color:#3399FF;
}
h3{
	font-size:100px;
	color:#ffc125;
	font-family: 'Bree Serif', serif;
	text-align: center;
	float:right,center; 
}
